<div class="row w-100 mx-0">
    <h1 class="text-center">List details</h1>
    <hr />
    
    <div class="col-12 text-right">
        <a [routerLink]="['../']">
            <button class="btn btn-secondary btn-sm">
                <i class="bi bi-chevron-left"></i>
                Back
            </button>
        </a>
    </div>

    <p *ngIf="loading">Loading...</p>

    <div *ngIf="!loading">
        <p *ngIf="!list">Oops! Unable to find the specified list.</p>

        <div class="col-12" *ngIf="list">
            <hr />
            <form class="row">
                <div class="form-group col-4 col-md-2">
                    <label for="list-id">ID</label> <br />
                    <input name="list-id" type="number" class="form-control" [(ngModel)]="list.id" readonly />
                </div>
                <div class="form-group col-8 col-md-10">
                    <label for="list-name">Name</label> <br />
                    <input name="list-name" type="text" class="form-control" [(ngModel)]="list.name" >
                </div>
                <div class="col-12 text-center mt-3">
                    <button class="btn btn-primary">
                        Save
                    </button>
                </div>
            </form>
            <hr />

            <div class="col-12">
                <h3 class="text-center">Items</h3>

                <div class="col-12 text-end">
                    <button class="btn btn-sm btn-primary">
                        Create
                    </button>

                    <button class="btn btn-sm btn-danger" *ngIf="list.items?.length" (click)="manageBulkDelete(id)">
                        Delete all
                    </button>
                </div>

                <div class="row my-3 d-flex justify-content-center" *ngIf="list.items?.length">
                    <app-todo-item-card 
                        *ngFor="let item of list.items" 
                        [item]="item" 
                        class="col-sm-6 col-md-4 col-lg-3" 
                        (onNameChange)="manageItemNameChange($event)"
                        (onCompletionStatusChange)="manageItemCompletionStatusChange($event)"
                        (onDelete)="manageOnDelete(item.id)"
                    />
                </div>

                <p *ngIf="!list.items?.length" class="text-center">The list doesn't have items yet.</p>
            </div>
        </div>
    </div>
</div>