<div class="row w-100 mx-0">
    <h1 class="text-center">ToDo Lists</h1>
    <hr />

    <p *ngIf="loading">Loading...</p>

    <div *ngIf="!loading">
        <div class="col-12 text-end mb-1">
            <a [routerLink]="['/create']">
                <button 
                    class="btn btn-sm" 
                    [ngClass]="showCreationForm ? 'btn-secondary' : 'btn-primary'" 
                    (click)="showCreationForm = !showCreationForm"
                >
                    <span>{{ showCreationForm ? 'Cancel' : 'Create' }}</span>
                </button>
            </a>
        </div>

        <app-todo-lists-table 
            *ngIf="!showCreationForm && lists" 
            (onDelete)="manageDeleteEvent($event)"
            [lists]="lists" 
            class="col-12" 
        />    
        <app-todo-list-creation-form *ngIf="showCreationForm" (onCreationSubmit)="manageCreateListEvent($event)" />
    </div>
</div>